:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e5e7eb;
  background-color: #020617;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #020617;
  color: #e5e7eb;
}

a {
  font-weight: 500;
  color: #818cf8;
  text-decoration: none;
}

a:hover {
  color: #a5b4fc;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1e293b;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  background-color: #334155;
}
